html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font: 1rem/1.35 sans-serif;
}

.header, .footer {
  background: #2c2f37;
  color: #fff;
  padding: 15px 0;
}
.container {
  margin: 0 auto;
  max-width: 1170px;
}
.top-nav__list {
  margin: 0;
  padding: 0;
}
.top-nav__item {
  display: inline-block;
  margin-left: 30px;
}
.top-nav__item:first-child {
  margin-left: 0;
}
.top-nav__link {
  color: #fff;
  text-decoration: none;
  transition: .3s;
}
.top-nav__link:hover {
  color: #3cd9ea;
}
.banner {
  position: relative;
  padding: 100px 0;
  background: url('../img/react.jpg') no-repeat;
  background-size: cover;
  color: #222;
}
.banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, .4);
}
.banner .container {
  position: relative;
  padding-left: 100px;
  z-index: 2;
  box-sizing: border-box;
}
.banner__readmore {
  margin-top: 30px;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 10px;
  background: #3cd9ea;
  color: #000;
  text-decoration: none;
}
.link {
  color: #3cd9ea;
  font-weight: bold;
  text-decoration: none;
}

.content {
  padding: 50px 0;
}
.content .container {
  display: flex;
}
.content__item {
  flex-grow:1;
}
.content__heading {
  font-size: 22px;
  font-weight: normal;
  color: #444;
}
.footer {
  text-align: center;
}