html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font: 1rem/1.35 sans-serif;
}

.poster {
  margin: 50px auto;
  display: flex;
  max-width: 800px;
  padding: 0 15px;
  box-sizing: border-box;
}
.poster__img-wrap {
  max-height: 330px;
}
.poster__item {
  /* flex: 1 1 auto; */
  flex-basis: 33%;
  margin-left: 50px;
  box-sizing: border-box;
}
.poster__item:first-child {
  margin-left: 0;
}
.poster__img {
  max-width: 100%;
}
.poster__heading {
  margin-bottom: 5px;
  font-size: .9rem;
  font-weight: normal;
}
.poster__link {
  display: block;
  margin: 3px 0 10px;
  padding: 2px 3px;
  background: #ccc;
  font-size: 1.1rem;
  color: #222;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.poster__year {
  font-size: .8rem;
  color: #666;
}